<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/contact.css')}}">
</head>

<body>
    <div class="navbar">
        <div class="nav-menu">
            <a href="/" class="active">Home</a>
            <a href="/login">Login/Register</a>
            <a href="/faculty">Faculty</a>
            <a href="/academics">Academics</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact Us</a>
        </div>
    </div>

    {% block body%}
    {% endblock%}
    <hr>
    <footer class="footer">
        <div class="social-icons">
            <img src="{{url_for('static',filename='img/twitter.png')}}" alt="">
            <img src="{{url_for('static',filename='img/facebook.png')}}" alt="">
            <img src="{{url_for('static',filename='img/instagram.png')}}" alt="">
        </div>
        <div class="copy">
            Copyright &copy; BSc (CS) and BCA Department 2020
        </div>
    </footer>
    
</body>

</html>